/* -------------------------------------------------------------------------------------------------- */
/* CSS for navigation links */

#header-nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin:0;
    padding: 0;
    list-style: none;
}
#header-nav-links li{
    display: inline-block;
    margin: 1rem;
    line-height: 100%;
}
#header-nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
#header-nav-links li a:hover{
    color: yellow;
    text-decoration: underline;
    transition: all ease-in-out 0.5s;
}


/* -------------------------------------------------------------------------------------------------- */
/* CSS for Add User button */

.add-user{
    height: 3.5rem;
    width: 12rem;
    font-size: 2rem;
    margin-top: 2rem;
    border-radius: 50%;
    box-shadow: 5px 7px white inset;
    background-color: #484c4f;

}
.add-user:hover{
    background-color: white;
    color: black;
    box-shadow: 5px 10px black inset;
}
.add-user:active{
    transform: scale(0.9);
}

/* -------------------------------------------------------------------------------------------------- */
/* CSS for filter input button */  

#addUserSearch{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#search-yellow-pages{
    min-height: 3rem;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    word-spacing: 2px;
    letter-spacing: 1px;
    background-color: #e1e1e1;
    user-select: none;
}
#search-yellow-pages:focus{
    background-color: #818181;
    color: white;
}
#search-yellow-pages::placeholder{
    color: #464646; 
}
#search-yellow-pages:focus::placeholder {
    color: rgb(219, 218, 218);
}

/* -------------------------------------------------------------------------------------------------- */
/* CSS for table */

.entries-wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    min-height: 70vh;
    height: auto;
    /* background-color: #6C757D; */

}
.entries-wrapper tbody{
    width: 90vw;
}
.entries-wrapper tbody tr{
    width: 100%;
    height: 2rem;
}
.entry{
    background-color: #000;
    padding: 0.2rem;
    border: 2px solid white;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.entry td{
    width: 18vw;
}
.entry .icon-wrappers{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.entry .icon-wrappers .icon1{
 height: 3rem;
 width: 3rem;
 background: url("https://cdn4.vectorstock.com/i/1000x1000/01/68/pen-icon-vector-23190168.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 20%;
}
.entry .icon-wrappers .icon2{
    height: 3rem;
    width: 3rem;
    background: url("https://png.pngtree.com/png-vector/20190531/ourlarge/pngtree-trash-bin-icon-png-image_1252142.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 border-radius: 20%;
}

